@import '../../../../variables.scss';

.header-container{
  display: flex;
  .logo-container {
    display:flex;
    line-height: 90px;
    min-width: 300px;
    margin-right: 10px;
    .logo-link {
      margin : 0 auto;
    }
  }
  .menu-list {
    display: flex;
    height: 90px;
    &__item {
      line-height: 90px;
      list-style-type: none;
      font-size: 20px;
      .link {
        line-height: 45px;
        margin: 10px 20px;
        padding: 7px 0;
        color: #3b3742;
        text-decoration: none;
      }
      .active-link{
        font-weight: 700;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          height: 3px;
          width: 100%;
          background-color: $accent-font-color;
          margin: 0 auto;
        }
      }
    }
  }
}