<header class="header-container">
  <div class="logo-container">
    <a class="logo-link" routerLink="/">LOGO</a>
  </div>
  <ul class="menu-list">
    <li class="menu-list__item">
      <a class="link" routerLink="/diet" routerLinkActive="active-link">Odżywianie</a>
    </li >
    <li class="menu-list__item">
      <a class="link" routerLink="/training" routerLinkActive="active-link">Trening</a>
    </li>
  </ul>
</header>
