@import '../../../variables.scss';

.training-overview-container{
  display: flex;
  width: 100%;
  height: 100%;
}

.content{
  width: 80%;
  margin: 0 30px 20px 30px;
  background: $app-element-background-color;
  box-sizing: border-box;
  border-radius: 8px;
}

.menu-list{
  min-width: 300px;
  background: $app-element-background-color;
  border-radius: 8px;
}
