<div class="training-overview-container">
  <ul class="menu-list">
    <li class="menu-list__item">
      <a routerLink="/">Plan Treningowy</a>
    </li>
    <li class="menu-list__item">
      <a routerLink="/">Wyniki</a>
    </li>
  </ul>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
