@import '../../../variables.scss';

.diet-overview-container{
  display: flex;
  width: 100%;
  height: 100%;
}

.content{
  width: 100%;
  margin: 0 30px 20px 30px;
  background: $app-element-background-color;
  box-sizing: border-box;
  border-radius: 8px;
}

.menu-list{
  min-width: 300px;
  background: $app-element-background-color;
  border-radius: 8px;
  &__item {
    padding: 20px 20px 0 0;
  }
  .menu-link{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: $basic-font-color;
    transition: background-color 0.3s ease-in;
    img {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
    &--active {
      position: relative;
      background-color: $app-active-menu-link-background-color;
      color: $accent-font-color;
      font-weight: 700;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      transition: background-color 0.3s ease-in;
      &:after {
        content: '■'; 
        position: absolute;
        top: 15px;
        right: 20px;
      }
    }
  }
}
