<div class="diet-overview-container">
  <ul class="menu-list">
    <li class="menu-list__item">
      <a class="menu-link" routerLinkActive="menu-link--active" routerLink="/diet/diary">
        <img src="../../../assets/icons/book-alt.svg">
        Dziennik
      </a>
    </li>
    <li class="menu-list__item">
      <a  class="menu-link" routerLinkActive="menu-link--active" routerLink="/diet/products"> <img src="../../../assets/icons/book-alt.svg" >
        Produkty
      </a>
    </li>
    <li class="menu-list__item">
      <a class="menu-link"  routerLinkActive="menu-link--active" routerLink="/diet/recipes">
      <img src="../../../assets/icons/utensils-alt.svg">
      Przepisy
    </a>
    </li>
  </ul>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
