<ul class="tabs-list">
  <li [className]=" activeTab === 'productsList' ? 'tabs-list__item--active' : 'tabs-list__item'"
    (click)="setActiveTab('productsList')">Lista produktów</li>
  <li [className]=" activeTab === 'productsList' ? 'tabs-list__item' : 'tabs-list__item--active'"
    (click)="setActiveTab('newProduct')">Dodaj produkt</li>
</ul>
<div class="products-content">
  <div *ngIf="activeTab === 'productsList', else addNewProductView">
    <div>
      Search bar
    </div>
    <div class="table">
      <div class="table-header-row table-row">
        <div class="table-column-data">Nazwa produktu</div>
        <div class="table-column-data">Białko</div>
        <div class="table-column-data">Węglowodany</div>
        <div class="table-column-data">Tłuszcz</div>
        <div class="table-column-data">Kalorie</div>
      </div>
      <ul>
        <li *ngFor="let product of products" class="table-row">
          <div class="table-column-data">{{product.name}}</div>
          <div class="table-column-data">{{product.protein}}</div>
          <div class="table-column-data">{{product.carbs}}</div>
          <div class="table-column-data">{{product.fat}}</div>
          <div class="table-column-data">{{product.calories}}</div>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #addNewProductView>
    <form class="form-product">
      <div class="form-title">Dodaj wartości na 100g produktu</div>
      <div class="form-row">
        <label class="form-product-label">Nazwa produktu</label>
        <input class="form-product-input" />
      </div>
      <div class="form-row">
        <label class="form-product-label">Białko</label>
        <input class="form-product-input"/>
      </div>
      <div class="form-row">
        <label class="form-product-label">Węglowodany</label>
        <input class="form-product-input"/>
      </div>
      <div class="form-row">
        <label class="form-product-label">Tłuszcz</label>
        <input class="form-product-input"/>
      </div>
      <div class="form-row">
        <label class="form-product-label">Kalorie</label>
        <input class="form-product-input"/>
      </div>
      <div class="btns-wrapper">
        <button class="add-button">Zapisz</button>
      </div>
    </form>
  </ng-template>
</div>
