@import '../../../../variables.scss';
@import '../../../../styles.scss';


.products-content{
padding: 30px 20px;
}

.tabs-list {
  display: flex;
  background: $app-basic-background-color;
  &__item {
    list-style-type: none;
    padding: 20px 30px;
    cursor: pointer;
    &--active {
      list-style-type: none;
      padding: 20px 30px;
      cursor: pointer;
      background: $app-element-background-color;
      font-weight: 700;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}

.table {
  .table-header-row{
    display: flex;
    font-weight: 700;
    
    .table-column-data {
      width: 15%;
      text-align: center;
      &:first-child{
        width: 40%;
        text-align: left;;
      }
    }
  }
  .table-row {
    display: flex;
    line-height: 45px;
    border-bottom: 1px solid $divider-line-color;
    .table-column-data {
      width: 15%;
      text-align: center;
      &:first-child{
        width: 40%;
        text-align: left;
      }
    }
  }
}

.form-product{
  max-width: 1000px;
  .form-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .form-product-label{
      font-weight: 700;
      margin-bottom: 10px;
    }
    .form-product-input{
    line-height: 45px;
    text-indent: 10px;
    outline: none;
    border: 1px solid $divider-line-color;
    border-radius: 8px;
    }
  }
}