/* You can add global styles to this file, and also import other style files */

@import './variables.scss';

*{
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

html, body {
  width: 100%;
  background: $app-basic-background-color;
  height: 100vh;
  color: $basic-font-color;
}

.main-content-wrapper {
  height: calc(100vh - 90px);
}

.btns-wrapper {
  display: flex;
  justify-content: flex-end;
  .add-button{
    border: none;
    background: $app-accent-bacground-color;
    font-weight: 700;
    padding: 20px 40px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    outline: none;
    cursor:pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}