//background colors
$app-basic-background-color: #faf5f5;
$app-element-background-color: #ffffff;
$app-active-menu-link-background-color: rgba(252, 154, 33, .2);
$app-accent-bacground-color:#fc9a21;


$divider-line-color: #e3e6e4;


// font colors
$basic-font-color: #3b3742;
$accent-font-color: #fc9a21;


